[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cpati
[access "refs/for/refs/*"]
	read = group user/cpati
	push = group user/cpati
	label-Code-Review = -2..+2 group user/cpati
	label-Verified = -1..+1 group user/cpati
	rebase = group user/cpati
	removeReviewer = group user/cpati
	submit = group user/cpati
[access "refs/heads/*"]
	read = group user/cpati
	create = group user/cpati
	push = +force group user/cpati
	pushMerge = group user/cpati
[access "refs/tags/*"]
	push = group user/cpati
	push = +force group user/cpati
